Project/Library/
Project/Temp/
*.csproj
*.sln
Project/obj/
Project/Assets/UnityVS.meta
Project/Assets/UnityVS/Editor.meta
Project/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
Project/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
Project/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
Project/Project.userprefs
Project/Assembly-UnityScript-firstpass-vs.unityproj
