Project/Library/
Project/Temp/
Project/Project-csharp.sln
Project/Project.sln
Project/Assembly-CSharp-vs.csproj
Project/Assembly-CSharp.csproj
Project/obj/
Project/UnityVS.Project.CSharp.csproj
Project/UnityVS.Project.sln
